/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 30, 2013, 10:21:59 PM
    Author     : sloan58
*/
html, body {
    height: 100%;
}
#wrap {
    height: auto;
    margin: 0 auto -60px;
    min-height: 100%;
    padding: 0 0 60px;
}
#footer {
    /*background-color: #3A3F44;
    border-color: #2B2E32;*/
    background-color: #333;
    border-color: #222;
    height: 60px;
}
#wrap > .container {
    padding: 60px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}
#footer > .container {
    padding: 15px 15px 10px 15px;
}
code {
    font-size: 80%;
}
